body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #21c08b;
    width: 100%;
    height: 80px;
    align-items: center;
}

.header img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.create-account {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.create-account__container {
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 700px;
    width: 300px;
    padding: 60px 68px 40px;
}

.create-account__container h2 {
    font-size: 25px;
}

.create-account__container--info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    background-color: transparent;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    margin-bottom: 20px;
    outline: none;
    width: 300px;
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
}

.button{
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 250px;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login a:hover{
    text-decoration: underline;
}

.footer {
    background-color: #ab88ff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
}

.footer a:hover {
    text-decoration: underline;
}

::placeholder{
    color: white;
}