/*Selector types*/

/*
    Universal: *
    Type: h1...
    class: .
    id: #
*/

/* Pseudo-Classes
    e.g:
    p:first-child
    p:last-child
    p:nth-child()
*/

/* Pseudo-Elements
    e.g:
    ::need-more
    ::after
    ::before
*/

main p:first-child { /*affects first p*/
    color: red;

}

main p:last-child{ /*affects last p*/
    color: blue;
}

main p:nth-child(2n){ /*affects nth p*/
    color:green
}

main p::first-letter{ /*affects first letter of all p*/
    color: purple;
    font-size: 20px;
}