<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Component</title>

    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">

        <h1>
            Components in Vue
        </h1>

        <modal v-on:close="toggleModal" v-show="showModal">
            <template v-slot:content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia est molestiae obcaecati. Maxime
                nulla, eius optio illo doloribus laborum. Debitis, aliquam? Quidem accusamus neque at illo nostrum quo
                quos.
            </template>
        </modal>

        <button v-on:click="toggleModal"> 
            Toggle Modal
        </button>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>